body {
    font-family: 'Poppins', sans-serif;
  }
  
  /* NAVBAR */
  .custom-navbar {
    background: linear-gradient(to right, #000000, #000000);
    padding: 0;
    z-index: 999;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #ebebeb;
    font-size: 14px;
    position: relative;
    padding: 4px 0;
    transition: color 0.3s ease;
  }
  
  /* Hover color */
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #f4c430;
  }
  
  /* Hover underline */
  .navbar-dark .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: #f4c430;
    transition: width 0.3s ease;
  }
  
  /* Show underline on hover */
  .navbar-dark .navbar-nav .nav-link:hover::after {
    width: 100%;
  }
  
  /* Active link */
  .active-link {
    color: #f4c430 !important;
  }
  
  /* Active underline */
  .active-link::after {
    width: 100%;
  }
  
  /* Call Button */
  .call-btn {
    color: #000;
    padding: 6px 16px;
    border-radius: 6px;
    font-size: 14px;
  }
  
  /* Dropdown */
  .dropdown-menu {
    background: #d4d4d4;
    border: none;
  }
  
  .dropdown-item {
    color: #000000;
  }
  
  .dropdown-item:hover {
    background: #f4c430;
    color: #000;
  }
  
  /* MOBILE */
  @media (max-width: 991px) {
  
    .navbar-collapse {
        background: #000000;
        padding: 15px;
        border-radius: 8px;
        margin-top: 10px;
    }
  
    .navbar-nav {
        gap: 12px;
    }
  
    .navbar-nav .nav-link {
        font-size: 15px;
    }
  
    .active-link::after {
        display: none;
    }
  
    .call-btn {
        margin-top: 12px;
        width: 100%;
        text-align: center;
    }
  }
  