body {
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
/* NAVBAR BACKGROUND */
.custom-navbar {
    background: linear-gradient(to right, #0a0a0a, #1a1a1a);
    padding: 12px 0;
}

.navbar-brand span {
    font-size: 14px;
    letter-spacing: 1px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ddd;
    font-size: 14px;
    position: relative;
    padding-bottom: 5px;
}

.navbar-dark .navbar-nav .nav-link:hover-underline {
    color: #f4c430;
}

.active-link {
    color: #f4c430 !important;
}

.active-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #f4c430;
}

.call-btn {
    color: #000;
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 14px;
}
.dropdown-menu {
    background: #111;
}

.dropdown-item {
    color: #ddd;
}

.dropdown-item:hover {
    background: #f4c430;
    color: #f4c430;
}

/* HERO */
.hero {
    min-height: 100vh;
    background: url("image/background1.jpg")
        center/cover no-repeat;
    padding-top: 20px;
}
.airport {
  background-image: url("image/background2.png"); /* your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.events {
  background-image: url("image/background4.png"); /* your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* BUTTON OVERRIDE */
.btn-warning {
    color: #000;
}

/* RESPONSIVE TEXT */
@media (min-width: 768px) {
    .hero h1 {
        font-size: 4rem;
    }
    .hero span {
        font-size: 1rem;
    }
}



/* FOOTER TEXT */
.site-footer {
    background-color: #ffffff;
    font-size: 15px;
    color: #444;
    margin-bottom: 30px;
  }
  
  .footer-heading {
    font-weight: 600;
    margin-bottom: 12px;
  }
  
  .site-footer a {
    color: #444;
    text-decoration: none;
  }
  
  .site-footer a:hover {
    text-decoration: underline;
  }
  
  .footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-nav li {
    margin-bottom: 8px;
  }
  
  .social-links a {
    font-size: 18px;
    margin-left: 10px;
  }
  
  .footer-bottom {
    background-color: #e0e0e0;
    font-size: 14px;
  }
 
 





  body {
    margin: 0;
  }
  
  .trusted-logos {
    background-color: #000000;
    padding: 60px 20px;
  }
  
  .logo-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .logo-box {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #fff;
  }
  
  .logo-box img {
    max-height: 200px;
    width: auto;
  }

  /* Mobile Responsive */
  @media (max-width: 768px) {
    .logo-container {
      flex-direction: column;
      text-align: center;
    }
  
    .logo-box {
      justify-content: center;
    }
  }





  
  /* GALLERY PAGE IMAGES */
  .col-md-4 img {
    width: 100%;            /* responsive */
    max-width: 400px;       /* keep original size */
    border-radius: 10px;    /* smooth corners */
    padding: 5px;           /* inner space */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  .images,
  .col-md-4 img {
      margin-top: 12px;
  }
  
  




  /* Contact form */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .contact-section {
    background: url("https://images.unsplash.com/photo-1528909514045-2fa4ac7a08ba") center/cover no-repeat;
    min-height: 100vh;
  }
  
  .overlay {
    background: rgba(255, 255, 255, 0.85);
    min-height: 100vh;
    padding: 60px 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 15px;
  }
  
  .subtitle {
    text-align: center;
    color: #666;
    max-width: 900px;
    margin: 0 auto 40px;
  }
  
  .contact-form {
    display: flex;
    gap: 30px;
  }
  
  .form-left,
  .form-right {
    width: 50%;
  }
  
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    color: #555;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    background: transparent;
    outline: none;
  }
  
  textarea {
    height: 310px;
    resize: none;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .contact-form {
      flex-direction: column;
    }
  
    .form-left,
    .form-right {
      width: 100%;
    }
  
    textarea {
      height: 200px;
    }
  }






  /* <!-- FEATURES --> */
  .services {
    padding: 60px 20px;
    background: #ffffff;
  }
  
  .services .sevice {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .services .service-box {
    margin: 10px;
    padding: 30px 25px;
    text-align: center;
    border-right: 1px solid #ccc;
  }
  
  .services .service-box:last-child  {
    border-right: none;
  }
  
  .services .service-box i {
    font-size: 32px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .services .service-box h3 {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 600;
  }
  
  .services .service-box p {
    font-size: 15px;
    color: #555;
    line-height: 1.6;
  }
  
  /* Tablet */
  @media (max-width: 992px) {
    .services .sevice {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .services .service-box:nth-child(2),
  .services .service-box:nth-child(4)  {
      border-right: none;
    }
  }
  
  /* Mobile */
  @media (max-width: 576px) {
    .services .sevice {
      grid-template-columns: 1fr;
    }
    .services .service-box {
      border-right: none;
      border-bottom: 1px solid #ccc;
    }
  
    .services .service-box:last-child {
      border-bottom: none;
    }
  }